@page "/people"

<PageTitle>Tab Title People</PageTitle>
<h1>       Hello People</h1>

<table>
    <thead>
        <tr>
            <th>First Name </th>
            <th>Last Name </th>
            <th>Sex</th>
        </tr>
    </thead>
</table>
@code {

}
